.first{
	display: inline-block;
	height: 100px;
	width: 200px;
	background: red;
	padding-top: 60px;
	padding-left: 100px;
	padding-right:100px;
	padding-bottom: 25px;
	margin-top:20px;
	margin-left: 10px;
	margin-right:10px;
	margin-bottom: 10px;
	
}
.second{
	display: inline-block;
	height: 100px;
	width: 50px;
	background: orange;
	padding-top: 40px;
	padding-left: 80px;
	padding-right:80px;
	padding-bottom: 40px;
	margin-top:20px;
	margin-left: 10px;
	margin-right:10px;
	margin-bottom: 10px;
}
.third{
		background: darkblue;
	
}
.fourth{
	background: pink;
		padding-top: 55px;
		padding-bottom: 25px;
}
.fifth{
	background:lightblue;
}
.sixth{
	background: lightgreen;
}
.seventh{
	background: yellow;
}
.eighth{
	background: orange;
}
.ninth{
	background: red;
	padding-top: 40px;
		padding-bottom: 40px;
}
.common{
	text-align: center;
}