	
	.clock{
		position: relative;
		background: lightgrey;
		height: 400px;
		width: 600px;
		bottom: 0px;
		right:0px;
		
	}				
	.hour{
		position: absolute;
		background: red;
		width: 200px;
		height: 150px;
		right: 20px;
		top: 0px;
		

	}
	.minute{
		position: fixed;
		background: yellow;
		border-radius:  250%;
		width: 150px;
		height: 100px;
		
		top: 0px;
		left: 0px;

	}	
/*
	.second{
		background: green;
		height: 500px;
		width: 300px;
		position;
		top: 30px;
		left: 50px;
	}																																																																																																																													
















































