.one{
    border: 5px solid;

}
.second{
    border: 5px solid;
}
.third{
    border: 5px dashed;
}
.fourth{
    border: 5px dotted;	
}
.fifth{
	display: inline-block;
	height: 85px;
	width: 160px;
	color: brown ;
	background-color: red;
}
.six{
	display: inline-block;
	background: pink;
	height: 30px;
	width: 200px;
	padding: 50px;
	margin: 20px;
}
.seven{
	display: inline-block;
	background: red;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.eight{
	display: inline-block;
	background: green;
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 0px;
}
.nine{
	display: inline-block;
	background: pink;
	height: 30px;
	width: 100px;
	padding: 40px;
	margin: 20px;
}
.ten{
	display: inline-block;
	background: red;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;	
}
.eleven{
	display: inline-block;
	background: green;
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
}
.common1{
	display: inline-block;
	height: 75px;
	width: 150px;
	color: brown;
	background-color: red;
}

body{

	/*background:repeating-linear-gradient(45deg,red,purple 50px,green 40px);*/
	height: 110vh;
	background: linear-gradient(45deg,rgb(76,0,255),transparent),
	rgb(216,118,255) repeating-linear-gradient(45deg, rgb(183,0,255)0%, rgb(183,0,255)5%,transparent 5%,transparent 10%);
}


















