/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------Main---------*//*--------Main---------*//*--------Main---------*/
/*--------Main---------*//*--------Main---------*//*--------Main---------*/
/*--------Main---------*//*--------Main---------*//*--------Main---------*/

body{
	font-family: sans-serif;
}
.fixed
{    
	padding: 30px 30px;
	position: fixed;
	width: 25%;
	height: 100%;
	background-color: #EA513E;
}
.flex{
	display: flex;
	align-items: center;
}
img{
	height: 80px;
	width: 80px;
	padding-right: 20px;
}
h1{
	font-weight: 700;
	color: #FFFFFF;
	font-size: 30px;
}
.home{
	font-size: 11px;
	font-weight: 700;
	margin-left: 100px;
	text-decoration: none;
	color: #FFFFFF;
	padding: 10px 10px;
	border-radius: 5px;
	border:2px solid #FFFFFF;
}
.dev-intro{
	margin-top: 100%;
}
h2{
	line-height: 1.2;
	font-size: 25px;
	color: #FFFFFF;
	font-weight: 700;
}
p{
	margin-top: 20px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
}
.social-img{
	margin-top: 20px;
	margin-right:  15px;
	padding: 10px 10px;
	background-color: #EA513E;
	border-radius: 50%;
	border:2px solid #FFFFFF;
	height: 20px;
	width: 20px;
}	
.padding-common{
	padding-left:  30%;
}
h3{
	text-align: center;
	padding: 50px 0px;
	font-size: 40px;
	font-weight: 700;
}
.conataineer{
	display: flex;
	justify-content:space-around;
}
.a{	
	padding: 0;
	margin: 20px 0px;
	border-radius:5px;
	border: 3px solid black;
	width: 100%;
	height: auto;
}
.image{
	width: 45%;
}
