/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------Main---------*/
/*--------Main---------*/
/*--------Main---------*/


/*-----------Common---------*/
body{
	font-family: sans-serif;
}
.padding-common{
	padding: 100px 240px;
}
.flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
img{
	height: 20px;
	width: 20px;
	margin-right: 15px;
}
p{
	font-size: 14px;
	line-height: 25px;
	color: #768492;
}
/*-----------Common---------*/


/*----------------------------*/
.padding{
	padding: 10px 100px;
	color: white;
	background-color: #012D5B;
}
.address{
	color: white;
}
.gmail{
	padding-left: 80px;
}
/*----------------------------*/


/*----------------------------*/
.buson-block{
	padding: 20px 100px;
}

h1{
	font-weight: 800;
	font-size: 40px;
	color: #012D5B;
}
.circle-flex{
	display: flex;
	align-items: center;
}
.circle{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #FD656B;
	margin-top: 20px; 
	margin-left: 5px;
}
.link{
	font-size: 14px;
	margin-right: 30px;
	text-decoration: none;
	color: #012D5B;
}
.contact-btn{
	font-size: 12px;
	color: white;
	background-color: #FD656B;
	border-radius: 5px;
	padding: 15px 30px;
	border: none;
	letter-spacing: 2px;
}
/*----------------------------*/
.welcome-heading{
	background-image: url(./images/main.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px; 
}
.welcome-heading-padding{
	padding: 100px 240px;
	margin: auto 0;
}
span{
	color: #FD656B;
}
h2{
	line-height: 50px;
	font-weight: 800;
	font-size: 50px;
	color: #012D5B;
	padding-bottom: 25px;
	padding-top: 10px;
}
.learn-btn{
	margin-top: 20px;
	padding: 20px 40px;
}
/*----------------------------*/


/*----------------------------*/
.second-block{
	background-color: #F6F9FE;
}
.second-column{
	height: 350px;
	width: 350px;
}
.business-img{
	height: 200px;
	width: 300px;
}
h3{
	padding: 20px 0px;
	font-size: 20px;
	font-weight: 600;
}
.second-column-with-border{	
	border:5px solid #FD656B ;
}
.second-column-with-border-padding{
	padding: 20px 50px;
}
.what-do{
	font-size: 40px;
}
.line{
	padding-bottom: 10px;
	width: 90px;
	background-color:  #FD656B;
	padding: 2px;
}
.last-para{
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 30px;
}
.View-profile{
    font-weight: 700;
	font-size: 14px;
	color: #262A40;
	text-decoration: none;
}
/*----------------------------*/


/*----------------------------*/
.third-block-img{
	height: 600px;
	width: 600px;
}
.client-heading{
	font-weight: 700;
	font-size: 40px;
	line-height: 45px;
}
.client-about{
	padding: 20px 0px;
}
/*----------------------------*/


/*----------------------------*/
.services{
	text-align: center;
	font-size: 50px;
	font-weight: 700;
}
.services-column{
	width: 200px;
	text-align: center;
	padding: 50px 50px;
	margin: 50px 15px;
	background-color: #F6F9FE;
}
.services-img{
	height: 80px;
	width: 80px;
}
.more{
	display: flex;
	justify-content: center;
}
.more-services{
	border-radius: 5px;
	padding: 20px 40px;
	font-size: 13px;
	border: 2px solid #FD656B;
	color: #FD656B;
}
/*----------------------------*/


/*----------------------------*/
.completed-cases{
	background-color: #F6F9FE;
}
.padding-cases{
	padding: 100px 0px 100px 240px;
	border:none;
}
.cases-flex{
	display: flex;
}
.cases-topic{
	padding-top: 50px;
	padding-right: 100px;
}
.more-btn{
	padding-top: 80px;
}
.see-more{
	padding: 15px  60px;
}
.student-img{
	height: 450px;
	width:350px;
}
.last-student-img{
	height: 450px;
	width: 0;
}
/*----------------------------*/


/*----------------------------*/
.center{
	text-align: center;
}
.adarsh{
	height:  100px;
	width: 100px;
	border-radius: 50%;
	padding: 10px;
	border:2px solid #FD656B;
}
.about-adarsh{
	line-height: 35px;
	padding: 40px 0px;
	font-size: 22px;
	color: black;
	font-weight: 500;
}
.star{
	padding-bottom:  25px;
}
.star-img{
	margin: 0px;
}
.writer{
	display: flex;
	justify-content: center;	
}
.author{
	color: #012D5B;
}

/*----------------------------*/


/*----------------------------*/
.news{
	padding-top: 50px;
}
.news-column{
	height: 450px;
	width: 350px;
	margin: 10px;
	background-color:#F6F9FE; 
}
.news-img{
	height: 250px;
	width: 350px;
	padding-bottom: 20px;
}
.title-block{
	padding-left: 20px;
}
h5{
	color: #FD656B;
}
h6{
	line-height: 30px;
	padding: 20px 0px;
	font-size: 20px;
	font-weight: 700;
}
/*----------------------------*/


/*----------------------------*/
.request-block{
	background-color: #012D5B;
}
.request-block-heading{
	line-height: 50px;
	font-size: 40px;
	color: white;
	font-weight: 700;
}
.request-block-about{
	color: white;
	padding-top: 25px;
}
.input{
	padding-top: 15px;
	padding-left: 10px;
	margin: 10px;
	border-radius: 5px;
	border:2px solid  #768492;
	height: 40px ;
	width:280px;
	color: white;	
}
.fill-up{	
	width:370px;
	color: #768492;
}
.send-btn{
	color: white;
	background-color: #FD656B;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: 10px;
	height: 50px;
	width: 180px;
	border: none;
}
/*----------------------------*/


/*----------------------------*/
.last-block-about{
	padding: 40px 0px;
}
.last-block-nav-link{
	font-size: 30px;
	color: #012D5B;
	font-weight: 500;
	padding-bottom: 20px;	
}
li{
	padding: 10px 0px;
}
a{
	text-decoration: none;
	color: #768492;
}
/*----------------------------*/


/*----------------------------*/
.Copyright{
	padding: 50px 0px;
	text-align: center;
}
.footer-padding{
	padding: 50px 240px;
	border-top: 2px solid silver;
	color: #768492;
}
/*----------------------------*/


