/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------Main---------*/
body{
	font-family: sans-serif;
}
header{
	background-image:linear-gradient(to left,#8BF295, #4383CB);
	padding: 40px 160px;	
}
.heading{
	display: flex;
	align-items: center;	
}
.word{
	font-size: 26px;
	color: white;
}
.nav-link{
	padding-left:  170px;
	padding-right: 280px;
}
.home{
	font-size: 15px;
	margin: 0px 15px;
	text-decoration: none;
	color: white;	
}
.media-link{
	margin-right: 20px;
}
.img{
	margin: 0px 10px;
}
.sign-btn{
	border: none;
	color: white;
    font-size: 14px;
	border-radius: 30px;
	padding: 15px 30px;
	background-color: #CF3732;	
}
.video{
	padding: 200px 0px;
	display: flex;
	justify-content: space-between;	
}
h6{
	line-height: 60px;
	padding-right: 60px;
	font-size:50px;
	margin: 20px 0px;
	color: white;
}
.start-btn{
	margin-top: 50px;
	display: flex;
	align-items: center;
}
.start-proj-btn{
	color: white;
    font-size: 14px;
	border-radius: 30px;
	padding: 15px 30px;
	border:2px solid white;
}
.call{
	color: white;
	padding-left: 25px;
	line-height: 20px;
	font-size: 14px;
}
.second-block{
	padding: 100px 160px;
}
.second-column{
	display: flex;
	justify-content: space-between;
}
.second-column-1{
width:30%;
}
.second-column-2{
width: 20%
}
.second-column-3{
width: 30%;
}
h2{
	font-size: 30px;
}
p{
	font-size: 14px;
	line-height: 25px;
	margin-top: 10px;
}
.square-dot{
	display: flex;
}
.square{
	height: 10px;
	width: 10px;
	background-color: #D8D8D8;
	margin: 10px 5px 10px 0px;
}
.skill{
	display: flex;
	justify-content: space-between;	
	align-items: center;
}
.skill-part{
	font-size: 16px;
	font-weight: 500;
}
.line-85{
	margin: 10px 0px;
	height: 4px;
	width:85%;
	background-color: black;
}
.line-90{
	width: 90%;
}
.line-75{
	width: 75%;
}
.line-70{
	width: 70%;
}
.adarsh{
	height:300px;
	width: 300px;
}


.third-block{
    padding: 50px 0px;
	background-color: #EFEFEF;	
}
.third-block-heading{
	display: flex;
	justify-content: center;
}
.square-dot-1{
	display: flex;
	justify-content: center;
}
.third-block-column{
	padding:15px 160px;
	display: flex;
}
.workspace{
	box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.75);	
}
.workspace-img{
	height: 320px;
	width: 250px;
}
.about-workspace{
	box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.75);	
	background-color: white;
	padding-top: 50px;
	padding-bottom: 10px;
	margin-right:  15px;
	padding-left:  30px;
}
.clock{
	display: flex;
	align-items: center;
}
.date{
	color: #CF3732;
	font-size: 13px;
	font-weight: bold;
	padding-left: 10px;
}
h3{
	padding-top: 20px;
	font-size: 20px;
	line-height: 30px;
}
.para{
	color: silver;
	font-size: 14px;
	padding-right: 20px;
}
.read-btn{
	padding-top: 30px;
}
.article-btn{
	border: none;
	color: black;
	background-color: #EFEFEF;
    font-size: 14px;
	border-radius: 30px;
	padding: 15px 30px;
}
.forth-block{
	padding: 50px 160px;
}
.image-column{
	display: flex;
	justify-content: space-between;
}
.bag-column{
	border-radius: 2%;
	margin-top: 20px;
	padding: 40px;
	background-color: #EFEFEF;
}
.bag{
	height: 200px;
	width: 200px;
}
.fifth-block{
	padding: 50px 160px;
	background-image:linear-gradient(to left,#8BF295, #4383CB); 
}
.contact{
	color: white;
}
.contact-detail{
	padding-top: 30px;
	padding-bottom: 90px;
	display: flex;
	justify-content: space-between;
}
.fill-up{
	border-radius: 5px;
	border: none;
	height: 50px;
	width: 350px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.req{
	width: 98%;
	height: 50%;
}
.send-btn{
	border: none;
	color: white;
    font-size: 14px;
	border-radius: 30px;
	padding: 20px 60px;
	background-color: #CF3732;
}
.map{
	height: 300px;
	width: 300px;
	border-radius: 50%;
}
footer{
	background-image: linear-gradient(to left,#000000,#414141);
	padding: 100px 160px;
	color: white;
}
.location{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid silver;
	padding-bottom: 80px;
}
.location p{
	color: silver;
}
address{
	color: silver;
	line-height:2;
}
h4{
	font-size: 30px;
	padding-bottom: 10px;
}
.area-40{
	width: 40%;
}
.area-20{
	width: 20%;
}
a{
	text-decoration: none;
	color: silver;
	font-size: 14px;
	line-height: 2;
}
.last{
	margin-top:30px;
	color: silver;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.call-us{
	margin-left: 250px;
}
.social-link{
	margin-right:   250px;
}
